# Firebase console > Project settings > General > Your apps > Web app > SDK setup and configuration
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_APP_ID=your-app-id
# themoviedb.org > Settings > API > "API Read Access Token"
VITE_TMDB_TOKEN=your-tmdb-read-access-token
